# .editorconfig
root = true

# Use LF line endings
[*]
end_of_line = lf
insert_final_newline = true

# JavaScript and TypeScript files
[*.js]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
charset = utf-8

# Markdown files
[*.md]
trim_trailing_whitespace = true
